
/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
} */

.horizontalPadding {
    padding-left: 20px;
    padding-right: 20px;
}

.inline {
    display: inline;
}

.flex-end {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.username-refresh {
    display: inline
}